@font-face {
  font-family: 'Robofan Free';
  src: local('Robofan'), url(./fonts/Robofan\ Free.otf) format('truetype');
}
@font-face {
  font-family: 'myFont';
  src: local('myFont'), url(./fonts/myFont.otf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
          touch-action: none !important;
          -webkit-overflow-scrolling: touch !important;
            
}
.is-momentumScrollable {
  -webkit-overflow-scrolling: touch;
}

div{
  -webkit-overflow-scrolling: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* These styles make the body full-height */
html,
body {
  height: 100%;
  background-color: #000; 
}
/* These styles disable body scrolling if you are using <ScrollView> */
body {
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
}
/* These styles make the root element full-height */
#root {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: auto;
  /* overflow: auto; */
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
div::-webkit-scrollbar {
  width:8px;               /* width of the entire scrollbar */
  height:8px;
}

div::-webkit-scrollbar-track {
  background: #00000000;        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color:#66666644;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
}